{% extends 'Home.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="d-flex justify-content-center">
  <div class="container row">
    <div class="col-xl-12">
      <div class="card mt-2">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->

          <div class="tab-content pt-2">
            <div
              class="tab-pane fade show active profile-overview"
              id="profile-overview"
            >
              <h5 class="card-title fw-bold text-center text-primary">
                Products List
              </h5>
              <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Product Name</th>
                        <th>Shape</th>
                        <th>Size</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in data %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.Pname}}</td>
                    <td>{{i.Shape}}</td>
                    <td>{{i.Size}}</td>
                    <td>{{i.location}}</td>
                    <td>{{i.price}}</td>
                    <td>
                        <a href="{% url 'update_product' i.id %}" class="btn btn-warning btn-sm"><img src="{% static 'images/arrowup.png' %}" width="15" alt=""></a>
                        <form action="{% url 'productDelete' i.id %}" method="POST"  class="d-inline mx-1">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger btn-sm"
                          onclick="return confirm('Are you sure you want to delete this?')"><img src="{% static 'images/trash.png' %}" width="15" alt=""></button>
                      </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              
                  <a href="{% url 'Home' %}" class="btn btn-secondary">Back</a>
                </div>
              </form>
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
